
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

  <div class="container">
  
    <a class="navbar-brand" >🂱 Acebook</a>
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  ms-auto">
      
        <li class="nav-item">
        <%= link_to "Home", root_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Create new post", new_post_path, class:"nav-link" %>
        </li>
    </div>
  </div>
</nav>
