
<div class="row mb-3 mt-5 mx-auto" style="width: 50%;">
<h1>Posts</h1>

<ul class="list-group">
  <% @posts.reverse_each do |post| %>
    <li class="list-group-item">
      <%= link_to post.message, post %>
    </li>
  <% end %>
</ul>

<%= link_to new_post_path do %>
  New post
<% end %>

</div>