
<div class="row mb-3 mt-5 mx-auto" style="width: 50%;">
<h1>Posts</h1>

<ul class="list-group">
  <% @posts.reverse_each do |post| %>
    <li class="list-group-item ">
    <% @user = post.user %>
    <%= image_tag(@user.avatar, width: 50) if @user.avatar.attached? %>
      <%= "#{@user.first_name} #{@user.last_name} posted @ #{post.created_at}: " %>
      <%= link_to post.message, post, class:"text-decoration-none" %>
    </li>
  <% end %>
</ul>
<div class="mt-4">
<%= link_to new_post_path, class:"text-decoration-none" do %>
  New post
<% end %>
</div>
</div>