<div class="row mb-3 mt-5 mx-auto" style="width: 50%;">
<%= form_for @post do |form| %>
  <%= form.label :message, class:"col-md-3 mt-2 mb-3 control-label"%>
  <%= form.text_field :message , class: "form-control"%>

  <%= form.submit "Submit", class: "btn btn-default btn-primary mt-4" %>
<% end %>
</div>
